<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Zakazky" connectionString="Data Source=LUKAS\SQLSAMAN; User Id=sa;Password=Akolade1; Integrated Security=False;"/>
    <add name="Alias" connectionString="KUZEL-M"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
